%{--<asset:javascript src="/jquery/dist/jquery.min.js"/>
<asset:javascript src="/bootstrap/js/bootstrap.min.js"/>--}%
<div id="userMenu" class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Flats
        <span class="caret"></span>
    </button>
    <ul id="dropper" class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Wrocław-daszynskiego</a></li>
        <li><a href="#">Opole-wandy</a></li>
    </ul>
</div>
