.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

table#importURLTable {
    background: url("../skin/shadow.jpg") repeat-x scroll center bottom #FFFFFF;
}

table.entryFilterTable  {
    border: 0px none;
    border-style: none;
}

.entryFilterTable th:hover, .entryFilterTable tr:hover {
    background: none;
}

.entryFilterTable tr, .entryFilterTable td {
    border-style: none;
    border-left: 0 none;
}

.checkBoxSelectAllHeader {
    /*	width: 60px; */
    text-align: center;
}