<%@ page import="eu.hulboj.FlatCalculator" %>



<div class="fieldcontain ${hasErrors(bean: flatCalculatorInstance, field: 'factors', 'error')} ">
	<label for="factors">
		<g:message code="flatCalculator.factors.label" default="Factors" />
		
	</label>
	

</div>

